#registration {
	/* background-color: #08070A;
	background-color: #3c493c; */
	height: 100%;
	background-image: url("../images/background-registration-completion.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-size: 100%; */
	text-align: center;
}

#registration .image-logo {
	width: 500px;
	margin-top: 50px;
}

#registration .middle-view {
	position: absolute;
	top: 30%;
	z-index: 2000;
	width: 100%;
	background-color: #4A1F19;
}

.content-view {
	width: 800px;
	margin: 0px auto;
	height: auto;
	overflow: auto;
	
	padding: 40px;
}

/* 				(auto)	540px		720px		960px		1140px
Class prefix	.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- */

.registration-input {
	margin-top: -20px;
}

.registration-input .title {
	font-size: 60px;
	text-align: center;
	color: #F5B64A;
	margin-bottom: -10px;
	font-family: "Prompt-2";
}

.registration-input .title-input {
	font-size: 20px;
	color: #fff;
}

.registration-input .input-code {
	font-size: 40px;
	color: #D54846;
	margin: 30px 0px;
	padding: 3px 0px 1px 0px;
	text-align: center;
	border-radius: 10px;
	font-style: oblique;
    letter-spacing: 3px;
}

.registration-input .button {
	font-size: 23px;
	text-align: center;
	background-color: #8A8A8A;
	color: #fff;
	padding: 4px 30px;
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
}

@media (max-width: 767.98px) { 
	.middle-view {
		top: 20%;
	}
	.content-view {
		width: 100%;
		text-align: center;
	}
	.image-logo {
		width: 300px;
		margin-top: 0px;
		position: initial;
		margin-bottom: 20px;
	}
	.registration-input .title {
		margin-left: 0px;
	}
	.registration-input .title-input {
		font-size: 30px;
	}
	.registration-input .input-code {
		font-size: 30px;
	}
	.registration-input .button {
		margin-left: 0px;
	}
}

/* registration-result */

#registration-result {
	background-image: url("../images/background-registration-completion.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-size: 100%; */
	width: 100%;
	height: 100%;
}

#registration-result .middle-view {
	position: absolute;
	top: 15%;
	z-index: 2000;
	width: 100%;
}


.registration-result {
	margin-top: -20px;
	text-align: center;
	
}

.registration-result .image-logo {
	width: 400px;
	margin-bottom: 20px;
}

.registration-result .title {
	color:#fff;
	font-size: 40px;
	text-decoration: dotted;
}

.registration-result .name {
	color:#EFB84A;
	font-size: 50px;
}

.registration-result .table {
	color:#fff;
	font-size: 27px;
	font-style: oblique;	
}

.box-result-remark {
	background-image: url("../images/border-display-name.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	width: 100%;
	margin-top: -70px;
}

.box-result-remark .result-remark {
	color:#533127;
	font-size: 25px;
	text-align: center;
	padding: 80px 100px;
	width: 100%;
}

@media (max-width: 767.98px) {
	.registration-result .title {
		text-align: center;
	}

	.registration-result .name {
		text-align: center;
	}

	.box-result-remark {
		margin-top: -70px;
	}

	.box-result-remark .result-remark {
		font-size: 25px;
	}
}