#registration {
	height: 100%;
	background-image: url("../images/background-registration-begin.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	text-align: center;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.755);
}

#registration .image-logo {
	width: 60%;
	margin-top: 10%;
}

#registration .middle-view {

}

.content-view {
	width: 80%;
	margin: 30px auto;
	height: auto;
	overflow: auto;
	text-align: center;
}

/* 				(auto)	540px		720px		960px		1140px
Class prefix	.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- */

.registration-input {
	background-image: url("../images/background-input.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0px 40px 0px;
}

.registration-input .title {
	font-size: 60px;
	text-align: center;
	color: #F3C046;
	font-family: "Prompt-2";
}

.registration-input .title-input {
	font-size: 25px;
	color: #fff;
}

.registration-input .input-code {
	font-size: 50px;
	color: #D93A52;
	margin: 30px 0px;
	padding: 3px 0px 1px 0px;
	text-align: center;
	border-radius: 10px;
	font-style: oblique;
	letter-spacing: 3px;
	width: 80%;
}

.registration-input .button {
	font-size: 23px;
	text-align: center;
	background-color: #8A8A8A;
	color: #fff;
	padding: 3px 40px;
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
}

@media (max-width: 767.98px) { 
	#registration .middle-view {

	}
	#registration .content-view {
		width: 100%;
	}
	#registration .image-logo {
		width: 80%;
		margin-top: 25%;
	}
	.registration-input .title {
		font-size: 50px;
	}
	.registration-input .title-input {
		font-size: 20px;
	}
	.registration-input .input-code {
		font-size: 40px;
	}
	.registration-input .button {
		
	}
}

/*********** registration-result ************/

#registration-result {
	background-image: url("../images/background-registration-completion.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	height: 100%;
	text-align: center;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.755);
}

#registration-result .middle-view {
	
}

#registration-result .image-logo {
	width: 70%;
	margin-top: 15%;
}

.registration-result {
	margin-top: -20px;
	text-align: center;
	
}

.registration-result .title {
	color:#fff;
	font-size: 40px;
	text-decoration: dotted;
	margin-top: 30px;
}

.registration-result .name {
	color:#F3C046;
	font-size: 50px;
}

.registration-result .table {
	color:#fff;
	font-size: 27px;
	font-style: oblique;	
}

.box-result-remark {
	background-image: url("../images/border-display-name.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	width: 80%;
	margin: -40px auto;
}

.box-result-remark .result-remark {
	color:#5D1A17;
	font-size: 22px;
	text-align: center;
	padding: 40px 20px 30px 0px;
	width: 100%;
	text-shadow: none;
	
}

@media (max-width: 767.98px) {
	#registration-result .middle-view {

	}
	#registration-result .content-view {
		width: 100%;
	}
	#registration-result .image-logo {
		width: 80%;
		margin-top: 30%;
	}

	.registration-result .title {
		font-size: 40px;
	}

	.registration-result .name {
		font-size: 40px;
	}

	.registration-result .table {
		font-size: 30px;
	}

	.box-result-remark {
		width: 100%;
		margin-top: -40px;
	}

	.box-result-remark .result-remark {
		font-size: 20px;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}